# **Task 1: Load and Inspect a Dataset**
*Instruction:* Load the titanic.csv dataset and display the first 5 rows. Show basic info and describe statistics of the dataset.

In [21]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.head(50))
print(df.info())
print(df.describe())

    Survived  Pclass                                               Name  \
0          0       3                             Mr. Owen Harris Braund
1          1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2          1       3                              Miss. Laina Heikkinen
3          1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4          0       3                            Mr. William Henry Allen
5          0       3                                    Mr. James Moran
6          0       1                             Mr. Timothy J McCarthy
7          0       3                      Master. Gosta Leonard Palsson
8          1       3   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
9          1       2                 Mrs. Nicholas (Adele Achem) Nasser
10         1       3                     Miss. Marguerite Rut Sandstrom
11         1       1                            Miss. Elizabeth Bonnell
12         0       3                      Mr. William Henry Saundercock
13         0       3                         Mr. Anders Johan Andersson
14         0       3                Miss. Hulda Amanda Adolfina Vestrom
15         1       2                     Mrs. (Mary D Kingcome) Hewlett
16         0       3                                Master. Eugene Rice
17         1       2                        Mr. Charles Eugene Williams
18         0       3  Mrs. Julius (Emelia Maria Vandemoortele) Vande...
19         1       3                             Mrs. Fatima Masselmani
20         0       2                                Mr. Joseph J Fynney
21         1       2                               Mr. Lawrence Beesley
22         1       3                                 Miss. Anna McGowan
23         1       1                        Mr. William Thompson Sloper
24         0       3                       Miss. Torborg Danira Palsson
25         1       3  Mrs. Carl Oscar (Selma Augusta Emilia Johansso...
26         0       3                             Mr. Farred Chehab Emir
27         0       1                      Mr. Charles Alexander Fortune
28         1       3                                Miss. Ellen O'Dwyer
29         0       3                                 Mr. Lalio Todoroff
30         0       1                            Don. Manuel E Uruchurtu
31         1       1      Mrs. William Augustus (Marie Eugenie) Spencer
32         1       3                            Miss. Mary Agatha Glynn
33         0       2                               Mr. Edward H Wheadon
34         0       1                             Mr. Edgar Joseph Meyer
35         0       1                      Mr. Alexander Oskar Holverson
36         1       3                                    Mr. Hanna Mamee
37         0       3                            Mr. Ernest Charles Cann
38         0       3                  Miss. Augusta Maria Vander Planke
39         1       3                         Miss. Jamila Nicola-Yarred
40         0       3      Mrs. Johan (Johanna Persdotter Larsson) Ahlin
41         0       2  Mrs. William John Robert (Dorothy Ann Wonnacot...
42         1       2            Miss. Simonne Marie Anne Andree Laroche
43         1       3                       Miss. Margaret Delia Devaney
44         0       3                            Mr. William John Rogers
45         0       3                                   Mr. Denis Lennon
46         1       3                           Miss. Bridget O'Driscoll
47         0       3                                 Mr. Youssef Samaan
48         0       3       Mrs. Josef (Josefine Franchi) Arnold-Franchi
49         0       3                          Master. Juha Niilo Panula

       Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard      Fare
0     male  22.0                        1                        0    7.2500
1   female  38.0                        1                        0   71.2833
2   female  26.0                        0                        0    7.9250
3   female  35.0                        1                        0   53.1000
4     male  35.0                        0                        0    8.0500
5     male  27.0                        0                        0    8.4583
6     male  54.0                        0                        0   51.8625
7     male   2.0                        3                        1   21.0750
8   female  27.0                        0                        2   11.1333
9   female  14.0                        1                        0   30.0708
10  female   4.0                        1                        1   16.7000
11  female  58.0                        0                        0   26.5500
12    male  20.0                        0                        0    8.0500
13    male  39.0                        1                        5   31.2750
14  female  14.0                        0                        0    7.8542
15  female  55.0                        0                        0   16.0000
16    male   2.0                        4                        1   29.1250
17    male  23.0                        0                        0   13.0000
18  female  31.0                        1                        0   18.0000
19  female  22.0                        0                        0    7.2250
20    male  35.0                        0                        0   26.0000
21    male  34.0                        0                        0   13.0000
22  female  15.0                        0                        0    8.0292
23    male  28.0                        0                        0   35.5000
24  female   8.0                        3                        1   21.0750
25  female  38.0                        1                        5   31.3875
26    male  26.0                        0                        0    7.2250
27    male  19.0                        3                        2  263.0000
28  female  24.0                        0                        0    7.8792
29    male  23.0                        0                        0    7.8958
30    male  40.0                        0                        0   27.7208
31  female  48.0                        1                        0  146.5208
32  female  18.0                        0                        0    7.7500
33    male  66.0                        0                        0   10.5000
34    male  28.0                        1                        0   82.1708
35    male  42.0                        1                        0   52.0000
36    male  18.0                        0                        0    7.2292
37    male  21.0                        0                        0    8.0500
38  female  18.0                        2                        0   18.0000
39  female  14.0                        1                        0   11.2417
40  female  40.0                        1                        0    9.4750
41  female  27.0                        1                        0   21.0000
42  female   3.0                        1                        2   41.5792
43  female  19.0                        0                        0    7.8792
44    male  30.0                        0                        0    8.0500
45    male  20.0                        1                        0   15.5000
46  female  27.0                        0                        0    7.7500
47    male  16.0                        2                        0   21.6792
48  female  18.0                        1                        0   17.8000
49    male   7.0                        4                        1   39.6875
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

# **Task 2: Identify and Handle Missing Data**
*Instruction:*

Display the number of missing values per column.

Fill missing Age values with the median.

Drop the second row in the dataset.

In [20]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.isnull().sum())
df['Age'].fillna(df['Age'].median(), inplace=True)
df.drop(index=1, inplace=True)
print(df.head())

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64
   Survived  Pclass                                         Name     Sex  \
0         0       3                       Mr. Owen Harris Braund    male
2         1       3                        Miss. Laina Heikkinen  female
3         1       1  Mrs. Jacques Heath (Lily May Peel) Futrelle  female
4         0       3                      Mr. William Henry Allen    male
5         0       3                              Mr. James Moran    male

    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0  22.0                        1                        0   7.2500
2  26.0                        0                        0   7.9250
3  35.0                        1                        0  53.1000
4  35.0                        0                        0   8.0500
5  27.0                        0                        0   8.4583

<ipython-input-20-867d50f8bee0>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

# **ask 3: Convert Categorical to Numeric**
*Instruction:* Convert Sex and Pclass columns to numeric using:

Label Encoding for Sex
One-Hot Encoding for Pclass

In [22]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('titanic.csv')
df['Age'].fillna(df['Age'].median(), inplace=True)
df.drop(index=1, inplace=True)

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

df = pd.get_dummies(df, columns=['Pclass'])

print(df.head())

   Survived                                         Name  Sex   Age  \
0         0                       Mr. Owen Harris Braund    1  22.0
2         1                        Miss. Laina Heikkinen    0  26.0
3         1  Mrs. Jacques Heath (Lily May Peel) Futrelle    0  35.0
4         0                      Mr. William Henry Allen    1  35.0
5         0                              Mr. James Moran    1  27.0

   Siblings/Spouses Aboard  Parents/Children Aboard     Fare  Pclass_1  \
0                        1                        0   7.2500     False
2                        0                        0   7.9250     False
3                        1                        0  53.1000      True
4                        0                        0   8.0500     False
5                        0                        0   8.4583     False

   Pclass_2  Pclass_3
0     False      True
2     False      True
3     False     False
4     False      True
5     False      True

<ipython-input-22-4bdbf19efa3b>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

# **Task 4: Scale Numerical Features**
*Instruction:* Use StandardScaler to scale the Age and Fare columns.italicized text

In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

df = pd.read_csv('titanic.csv')
df['Age'].fillna(df['Age'].median(), inplace=True)
df.drop(index=1, inplace=True)

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

df = pd.get_dummies(df, columns=['Pclass'])

scaler = StandardScaler()
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

print(df[['Age', 'Fare']].head())

        Age      Fare
0 -0.528495 -0.502593
2 -0.245189 -0.489029
3  0.392250  0.418741
4  0.392250 -0.486517
5 -0.174362 -0.478313

<ipython-input-23-03d2ef59c1e4>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

# **Task 5: Build Preprocessing Pipeline**
*Instruction:* Using ColumnTransformer and Pipeline from sklearn, build a pipeline that:

Imputes missing values
Scales numeric data
Encodes categorical data

In [30]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

# Load dataset
df = pd.read_csv('titanic.csv')

# Define the pipeline for numeric features
numeric_features = ['Age', 'Fare']
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),  # Impute missing values with the median
    ('scaler', StandardScaler())  # Scale the numeric features
])

# Define the pipeline for categorical features
categorical_features = ['Sex', 'Pclass']
categorical_transformer = ColumnTransformer(
    transformers=[
        ('sex', Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent'))]), ['Sex']),  # Impute missing values and Label Encode 'Sex'
        ('pclass', OneHotEncoder(), ['Pclass'])  # One-Hot encoding for 'Pclass'
    ]
)

# Combine both pipelines into one full pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ]
)

# Apply the pipeline to the data
df_transformed = preprocessor.fit_transform(df)

print(df_transformed)

[[-0.529366007257325 -0.5035863459797053 'male' 0.0 0.0 1.0]
 [0.6042645431881828 0.7834124485273979 'female' 1.0 0.0 0.0]
 [-0.24595836964594797 -0.4900195895218577 'female' 0.0 0.0 1.0]
 ...
 [-1.5921446482999884 -0.1779841909913622 'female' 0.0 0.0 1.0]
 [-0.24595836964594797 -0.04633640610409999 'male' 1.0 0.0 0.0]
 [0.1791530867711174 -0.49353689675167006 'male' 0.0 0.0 1.0]]

# **Task 6: Create a New Feature**
*Instruction:* Create a new feature FamilySize = Siblings/Spouses Aboard + Parents/Children Aboard + 1.

In [31]:
import pandas as pd

# Load dataset
df = pd.read_csv('titanic.csv')

# Create the new feature 'FamilySize'
df['FamilySize'] = df['Siblings/Spouses Aboard'] + df['Parents/Children Aboard'] + 1

# Display the updated DataFrame
print(df[['Siblings/Spouses Aboard', 'Parents/Children Aboard', 'FamilySize']].head())

   Siblings/Spouses Aboard  Parents/Children Aboard  FamilySize
0                        1                        0           2
1                        1                        0           2
2                        0                        0           1
3                        1                        0           2
4                        0                        0           1